@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #023047;
  --color-secondary: #219ebc;
  --color-accent: #8ecae6;

  --color-tertiary: #780000;
  --color-highlight: #c1121f;

  --color-success: #008235;
  --color-error: #c1121f;

  --color-900: #101828;
  --color-800: #1e2939;
  --color-700: #364153;
  --color-600: #4a5565;
  --color-500: #6a7282;
  --color-400: #9ca3af;
  --color-300: #d1d5db;
  --color-200: #e5e7eb;
  --color-100: #f3f4f6;
  --color-50: #f9fafb;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
}

html,
body {
  line-height: 1.6;
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  user-select: none;
  color: inherit;
}

section {
  padding-block: 2rem 3rem;
}

p {
  line-height: 1.5rem;
  margin-block-end: 1rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--color-primary-text) !important;
  color: var(--color-primary-text) !important;
  outline: none;
  transition: background-color 5000s ease-in-out 0s;
}
