@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-primary: #023047;
  --color-secondary: #219ebc;
  --color-accent: #8ecae6;

  --color-tertiary: #780000;
  --color-highlight: #c1121f;

  --color-success: oklch(52.7% 0.154 150.069);
  --color-error: oklch(63.7% 0.237 25.331);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
}

html,
body {
  line-height: 1.6;
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  user-select: none;
  color: inherit;
}

section {
  padding-block: 8rem 3rem;
}

p {
  line-height: 1.5rem;
  margin-block-end: 1rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--color-primary-text) !important;
  color: var(--color-primary-text) !important;
  outline: none;
  transition: background-color 5000s ease-in-out 0s;
}
